<div class="padding" style="padding-bottom: 30px">
  
  <div class="grid_10">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Interviews</div>
      </div><!-- .module_header -->
      <div class="module_padding">
        <% if @interview.audio? %>
          <div class="audio_wrapper">
            Interview Audio recorded by <%= @interview.user.full_name %>:  <a href="<%= @interview.url %>"  target="_blank">Play</a>
            <p>Duration:  <%= @interview.duration %></p>
          </div>
        <% else %>
          <div class="video">
            Interview Video recorded by <%= @interview.user.full_name %>:  <a href="<%= @interview.url %>"  target="_blank">Play</a>
          </div>          
        <% end %>
      </div><!-- .module_padding -->
    </div><!-- .module_wrapper -->
  </div>

  <div class="grid_10">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Engage Now in our Discussion</div>
      </div><!-- .module_header -->
      <div class="module_padding">
        <div class="comments_wrapper">
          <div class="fb-comments" data-href="<%= event_interview_url(@event, @interview) %>" data-num-posts="20" data-width="550" data-colorscheme="dark"></div>
        </div><!-- .comments_wrapper -->
      </div><!-- .module_padding -->
    </div><!-- .module_wrapper -->
  </div>


  <div class="clear"></div>
</div><!-- .padding -->


<script type="text/javascript">
FB.Event.subscribe('comment.create', function(response) {
  // console.log("response %o",response);
  // do something with response.session
});  
</script>
