<div class="grid_10">
  <div class="module_wrapper">
    <div class="module_header">
      <div>Profile of <%= @user.full_name %></div>
    </div><!-- .module_header -->
    <div class="module_padding">
      <div class="events_wrapper">
        <h5><%= @user.full_name %> is attending</h5>

        <% if @events.empty? %>
          <div>
            <%= @user.full_name %> doesn't attend any event right now.
          </div>

        <% else %>
          <div>
            <ul>
              <% @events.each do |event| %>
                <li><a href="<%= event_path(event)%>"><%= event.name %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div><!-- .events_wrapper -->
      
    </div><!-- .module_padding -->
  </div><!-- .module_wrapper -->
</div><!-- .grid_10 -->