<div class="row what" style="background-color: black">
  <div class="left">
    <strong>WHAT</strong> 
  </div>
  <div class="right">
    <%= @event.name.upcase %>
    <% if current_user.can_edit_event? @event  %>
      <span class="small"><a href="<%= edit_event_path(@event)%>" class="pink">[Edit]</a></span>
    <% end %>
  </div>
</div><!-- .what -->


<div class="row">
  <div class="left grid_2 alpha">
    <strong>WHEN</strong> 
  </div>
  <div class="right">
    <%= @event.when ? @event.when.strftime('%B %d') : 'No Date Specified' %>, 
    <%= @event.start_time ? @event.start_time.strftime('%l:%M%p') : 'No Time Specified' %>
    <%= @event.end_time ? @event.end_time.strftime('-%l:%M%p') : 'No Time Specified' %>
  </div>
</div><!-- .row -->

<div class="row">
  <div class="left grid_2 alpha">
    <strong>WHERE</strong>
  </div>
  <div class="row">
    <%= @event.venue %>&nbsp;
  </div>
</div><!-- .row -->

<div class="row">
  <div class="left grid_2 alpha">
    <strong>INFO</strong>
  </div>
  <div class="right">
    <%= @event.description %>
  </div>
</div><!-- .row -->

<br/>
<br/>


<%= render :partial => 'attendants' %>


<br/>
<br/>