<div class="events_page_wrapper">
  
  <div class="grid_11 alpha">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Your Calendar</div>
      </div>
    
      <div class="module_padding">
        <% unless @pending_event_invites.empty? %>
          <%= render :partial => 'pending_invites_confirmation' %>
        <% end %>
        
        <div id="social_calendar_wrapper">
          <%= render :partial => 'social_calendar' %>
        </div><!-- #social_calendar_wrapper -->
        
      </div><!-- .module_padding -->
    
      <div class="clear"></div>
    </div><!-- .module_wrapper -->
  

    <div class="module_wrapper">
      <div class="module_header">
        <div>Upcoming Events</div>
      </div><!-- .module_header -->

      <div class="module_padding">
        <div class="events_wrapper"  style="margin-bottom: 50px;">
          <% if @active_events.empty? %>
            <div class="empty">
              You don't have anything yet.<br/>
              <a href="<%= new_event_path %>">Add</a>
            </div>
          <% else %>
            <% @upcoming_events.each do |event| %>
              <div class="event">
                <div class="grid_1">
                  <%= event.when.strftime('%b %d') %>
                </div><!-- .grid_2 -->
                <div class="grid_2">
                  <%= event.start_time ? event.start_time.strftime('%l:%M %p') : '' %>
                </div><!-- .grid_3 -->
                
                <div class="grid_5">
                  <%= link_to event.name, event_path(event) %>
                </div><!-- .grid_4 -->
              </div><!-- .event -->
              <div class="clear"></div>              
            <% end %>
          <% end %>
        </div><!-- .events_wrapper -->
        <div class="clear"></div>
      </div><!-- .module_padding -->
      
    </div><!-- .module_wrapper -->  
  
  </div><!-- .grid_11 -->


  <div class="grid_5 module_wrapper">
    <div class="module_header">
      <div>Details</div>
    </div>

    <div id="event_summary" class="module_padding">
      Select an event on the calendar to see the details.
    </div><!-- .module_padding -->
  
  </div><!-- .grid_5 -->
</div><!-- .events_page_wrapper -->