<% 
  @date = Date.current
  @today      = Date.current
  @start_date = @date.at_beginning_of_month
  @end_date   = @date.at_end_of_month

  date        = @date || Date.current
  month       = date.month
  start_date  = @start_date
  end_date    = @end_date
  cur_date    = start_date
  
  prev_month  = start_date - 1.day
  next_month  = end_date + 1.day

  collection  = @upcoming_events
  lookup      = {}
  
  collection.each do |item| 
    lookup[ item.get_date ] ||= []
    lookup[ item.get_date ] << item if item.get_date
  end
%>

<div class="events_page_wrapper">
  
  <div class="grid_11 alpha">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Upcoming events</div>
      </div>
    
    
      <div class="module_padding">
      
        <% unless @pending_event_invites.empty? %>
          <%= render :partial => 'pending_invites_confirmation' %>
        <% end %>
    
        <div class="months_header_wrapper">
          <div class="months_header">
            <% today = Date.today
               year = today.year
            %>
            <% for i in 1...12 %>
              <span>
                <a href="#" class="<%= :current_month if i == today.month %>"><%= Date.new(year, i, 1).strftime('%b') %></a>
              </span>
            <% end %>
          </div><!-- .months_header -->
          <div class="new_event">
            <a href="<%= new_event_path %>" style="color: white; font-size: 10px;">CREATE EVENT +</a>
          </div>
          <div class="clear"></div>
        </div>
      
    
        <%= render :partial => 'calendar', :locals => { :start_date => start_date, :end_date => end_date, :collection => collection } %>
  
      </div><!-- .padding -->
    
      <div class="clear"></div>
    </div><!-- .module_wrapper -->
  

    <div class="module_wrapper">
      <div class="module_header">
        <div>Upcoming Events</div>
      </div><!-- .module_header -->

      <div class="module_padding">
        <div class="events_wrapper"  style="margin-bottom: 50px;">
          <% if @active_events.empty? %>
            <div class="empty">
              You don't have any upcoming events.<br/>
              <a href="#">Add new Event</a>
            </div>
          <% else %>
            <% @active_events.each do |event| %>
              <div class="event">
                <div class="grid_2">
                  <%= event.when.strftime('%m %a') %>
                </div><!-- .grid_2 -->
                <div class="grid_3">
                  <%= event.start_time ? event.start_time.strftime('%h:MM') : '' %>
                </div><!-- .grid_3 -->
                
                <div class="grid_4">
                  <%= link_to event.name, event_path(event) %>
                </div><!-- .grid_4 -->

              </div><!-- .event -->
            <% end %>
          <% end %>
        </div><!-- .events_wrapper -->
        <div class="clear"></div>
      </div><!-- .module_padding -->
      
    </div><!-- .module_wrapper -->  
  
  </div><!-- .grid_11 -->


  <div class="grid_5 module_wrapper">
    <div class="module_header">
      <div>Social Details</div>
    </div>

    <div id="event_summary" class="module_padding">
      
    </div><!-- .module_padding -->
  
  </div><!-- .grid_5 -->
</div><!-- .events_page_wrapper -->