<div class="padding" style="padding-bottom: 30px">
  

  <div class="grid_10">
    <h1><%= @event.name %>'s wall</h1>
    <hr/>
  
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:comments href="<%= event_path(@event) %>" num_posts="15" width="570"></fb:comments>
    <div class="clear"></div>
  </div>


  <div class="grid_5">
  
    <div class="logistic_wrapper">
      <h1>Logistic 
        <% if current_user.can_edit_event? @event  %>
          <span class="small"><a href="<%= edit_event_path(@event)%>">Update</a></span>
        <% end %>
      </h1>
      <div class="row">
        <div class="grid_2 alpha">
          When 
        </div>
        <div class="">
          <%= @event.when ? @event.when.strftime('%B %d, %y') : 'No Date Specified' %> - 
          <%= @event.start_time ? @event.start_time.strftime('%H:%M') : 'No Time Specified' %>
        </div>
      </div><!-- .row -->
      <div class="clear"></div>
      <div class="row">
        <div class="grid_2 alpha">
          Venue
        </div>
        <div class="">
          <%= @event.venue %>
        </div>
      </div><!-- .row -->
    
      <div class="clear"></div>
      <div class="row">
        <div class="grid_2 alpha">
          &nbsp;
        </div>
        <div class="">
          <%= link_to 'Add to Calendar', export_to_calendar_event_path(@event) %>
        </div>
      </div><!-- .row -->
    </div><!-- .logistic_wrapper -->
  
  
    <div class="logistic_wrapper">
      <h1>Invited People</h1>
    
      <% @attendants.group_by(&:rsvp_status).each do |rsvp_status, attendants_by_rsvp_status| %>
        <div style="font-size: 16px;padding-top: 10px; font-weight: bold; ">
          <%= rsvp_status.to_s == 'pending' ? 'Waiting for Response' : rsvp_status.to_s.titleize %>
        </div>
        <% attendants_by_rsvp_status.each do |attendant| %>
          <div class="row">
            <div class="grid_3 alpha">
              <% if attendant.is_a?(User) or attendant.user %>
                <%= link_to attendant.full_name, (attendant.is_a?(User) ? user_path(attendant) : user_path(attendant.user)) %>
              <% else %>
                <%= attendant.full_name %>
              <% end %>
            </div>
            <div class="">
            
            </div>
          </div><!-- .row -->
        <% end %>
        <div class="clear"></div>
      <% end %>
    
    </div><!-- .logistic_wrapper -->  
  
  </div><!-- .grid_6 -->


  <div class="clear"></div>
</div><!-- .padding -->