<div class="padding" style="padding-bottom: 30px">
  
  <div class="grid_10">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Interviews: <span style="float: right">To Interview, call 415-599-2671, pin 9441-2138</span></div>
      </div><!-- .module_header -->
      <div class="module_padding">
        <a href="<%= new_event_interview_path(@event) %>" class="purple_link">Upload New Video</a>
        <br/><br/>
        <% if @interviews.empty? %>
          <h3>Not interviews yet!.  Go out there!</h3>
        <% else %>
          <% @interviews.each do |interview| %>
            <%= render :partial => 'interview_info', :locals => { :interview => interview } %>
          <% end %>
        <% end %>
      </div><!-- .module_padding -->
    </div><!-- .module_wrapper -->
  </div>



  <div class="grid_5">
    <div class="module_wrapper">
      <div class="module_header">
        <div>Details</div>
      </div><!-- .module_header -->
      <div class="module_padding">
        
        <div class="summary_wrapper">
          <%= render :partial => 'summary' %>
          
          <div class="row">
            <div class="left">&nbsp;</div><!-- .left -->
            <div class="right"><%= link_to 'Add to Calendar', export_to_calendar_event_path(@event) %></div><!-- .right -->
          </div><!-- .row -->
          
        </div><!-- .summary_wrapper -->
        
      </div><!-- .module_padding -->
    </div><!-- .module_wrapper -->
  </div><!-- .grid_6 -->


  <script type="text/javascript" charset="utf-8">
  $(function() {
    // $('.play_button').click(function(e) {
    //   // e.preventDefault();
    //   // // debugger
    //   // soundManager.createSound({
    //   //   id: 'mySound',
    //   //   url: $(this).attr('href'),
    //   //   autoLoad: true,
    //   //   autoPlay: true,
    //   //   onload: function() {
    //   //     alert('The sound '+this.sID+' loaded!');
    //   //   },
    //   //   volume: 100
    //   // });
    //   // return false;
    // });
    // $(".mp3_audio").jPlayer( {
    //   ready: function () {
    //     // debugger
    //     $(this).jPlayer("setMedia", {
    //       mp3: ''
    //     });
    //   },
    //   supplied: "mp3",
    //   swfPath: "/javascripts/jPlayer/"
    // });    
    
  })
  </script>

  <div class="grid_10">
    <div class="module_wrapper">
      <div class="module_header">
        <div><%= @event.name %>'s wall</div>
      </div><!-- .module_header -->
      <div class="module_padding">
        <div class="comments_wrapper">
          <div class="fb-comments" data-href="<%= event_interview_url(@event) %>" data-num-posts="20" data-width="550" data-colorscheme="dark"></div>
        </div><!-- .comments_wrapper -->
      </div><!-- .module_padding -->
    </div><!-- .module_wrapper -->
  </div>


  <div class="clear"></div>
</div><!-- .padding -->

