<% if false %>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

<% end %>



<div style="">
  <div style="margin: 150px auto; width: 300px; height: 300px; text-align: center;">
    <span style="color: white; font-size: 22px">SIGN IN TO DROP SOCIAL</span>
    <%= link_to image_tag('fb.png'), user_omniauth_authorize_path(:facebook) %>
  </div>
</div>